<div class="row">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-10">
                <h3>Кондиционеры</h3>
            </div>
            <div class="col-xl-2">
                    <a href="#" class="btn btn-secondary btn-block" role="button" aria-pressed="true">Больше</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="row ">
            <div class="col-xl-3">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>