<footer>
    <div class="row position-relative">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-12">
                    <div class="row ">
                        <div class="col-xl-2">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Компания</h6>
                                    <nav class="nav flex-column">
                                        <a class="nav-link active" href="#">Active</a>
                                        <a class="nav-link" href="#">Link</a>
                                        <a class="nav-link" href="#">Link</a>
                                        <a class="nav-link disabled" href="#">Disabled</a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Информация</h6>
                                    <nav class="nav flex-column">
                                        <a class="nav-link active" href="#">Active</a>
                                        <a class="nav-link" href="#">Link</a>
                                        <a class="nav-link" href="#">Link</a>
                                        <a class="nav-link disabled" href="#">Disabled</a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Помощь</h6>
                                    <nav class="nav flex-column">
                                        <a class="nav-link active" href="#">Active</a>
                                        <a class="nav-link" href="#">Link</a>
                                        <a class="nav-link" href="#">Link</a>
                                        <a class="nav-link disabled" href="#">Disabled</a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Социальные</h6>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="row">
                                                <div class="col-xl-6"> <img class="mr-3" src="https://placeimg.com/44/40/people" alt="Generic placeholder image">
                                                </div>
                                                <div class="col-xl-6"> <img class="mr-3" src="https://placeimg.com/44/40/people" alt="Generic placeholder image">
                                                </div>
                                                <div class="col-xl-6"> <img class="mr-3" src="https://placeimg.com/44/40/people" alt="Generic placeholder image">
                                                </div>
                                                <div class="col-xl-6"> <img class="mr-3" src="https://placeimg.com/44/40/people" alt="Generic placeholder image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <span style="font-size: 24px">+7 (473) 2-600-600</span>
                                    <span style="font-size: 24px">+7 (473) 2-600-600</span>
                                    <b>Адрес: </b>
                                    <p>Россия, Воронежская область, Воронеж, ул. Острогожская, 73А</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>