<div class="px-3 border border-primary">
    <img class="img-fluid img-thumbnail" src="https://placeimg.com/200/200/people" alt="">
    <a href="#">Сплит-система (инвертор) Samsung AR09KSFPAWQNER</a>
    <div class="mt-1">
        <img width="90" src="images/stars.svg" alt=""> <span class="badge badge-light">(10)</span> <span class="badge badge-light">(<a href="#">отзывы</a>)</span>
    </div>
    <div class="row">
        <div class="col-xl-8">
            35990 руб.
        </div>
        <div class="col-xl-4">
                <a class="btn btn-primary btn-sm" href="#" role="button">заказать</a>
        </div>
    </div>
</div>