<div class="row">
    <div class="col-xl-9">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <img class="card-img-top" src="https://placeimg.com/870/190/people" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-5">
                <div class="card">
                    <img class="card-img-top" src="https://placeimg.com/330/190/people" alt="">
                </div>
            </div>
            <div class="col-xl-7">
                <div class="card">
                    <img class="card-img-top" src="https://placeimg.com/470/190/people" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="media">
                                <img class="mr-3" src="https://placeimg.com/44/40/people" alt="Generic placeholder image">
                                <div class="media-body">
                                    Подарочные сертификаты
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="media">
                                <img class="mr-3" src="https://placeimg.com/44/40/people" alt="Generic placeholder image">
                                <div class="media-body">
                                    Весь товар сертифицирован
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="media">
                                <img class="mr-3" src="https://placeimg.com/44/40/people" alt="Generic placeholder image">
                                <div class="media-body">
                                    30 дней на обмен и возврат
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="media">
                                <img class="mr-3" src="https://placeimg.com/44/40/people" alt="Generic placeholder image">
                                <div class="media-body">
                                    Быстрая доставка
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card">
            <div class="card-body">
                <span style="font-size: 24px">+7 (473) 2-600-600</span>
                <span style="font-size: 24px">+7 (473) 2-600-600</span>
                <button class="btn btn-primary float-right" type="submit">Заказать звонок</button>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="https://placeimg.com/270/180/people/grayscale" alt="">
            <div class="card-body">
                <b>Адрес: </b>
                <p>Россия, Воронежская область, Воронеж, ул. Острогожская, 73А</p>
                <button class="btn btn-primary float-right" type="submit">Смотреть на карте</button>
            </div>
        </div>
    </div>
</div>