<div class="row mt-5">
    <div class="col-xl-6">
        <h3>Акции</h3>
        <div class="row">
            <div class="col-xl-12 mt-3">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card border-0">
                            <div class="card-body">
                                @@include('include_item_post.html')
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card border-0">
                            <div class="card-body">
                                @@include('include_item_post.html')
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mt-4">
                        <div class="card border-0">
                            <div class="card-body">
                                @@include('include_item_post.html')
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mt-4">
                        <div class="card border-0">
                            <div class="card-body">
                                @@include('include_item_post.html')
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
            <h3>Хиты продаж</h3>
            <div class="row">
                <div class="col-xl-12 mt-3">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card border-0">
                                <div class="card-body">
                                    @@include('include_item_post.html')
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card border-0">
                                <div class="card-body">
                                    @@include('include_item_post.html')
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 mt-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    @@include('include_item_post.html')
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 mt-4">
                            <div class="card border-0">
                                <div class="card-body">
                                    @@include('include_item_post.html')
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>