<div class="row">
    <div class="col-xl-9 mt-3 single_body">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb single_body__breadcrumb">
                <li class="breadcrumb-item single_body__breadcrumb-item">
                    <a href="#">Главная</a>
                </li>
                <li class="breadcrumb-item single_body__breadcrumb-item">
                    <a href="#">Кондиционеры</a>
                </li>
                <li class="breadcrumb-item single_body__breadcrumb-item active" aria-current="page">Сплит-система (инвертор) Samsung AR09KSFPAWQNER</li>
            </ol>
        </nav>
        <h1 class="single_body__h1">Сплит-система (инвертор) Samsung AR09KSFPAWQNER</h1>
        <div class="card border-0 mt-3 px-3">
            <img src="https://placeimg.com/840/250/people" alt="" class="single_body__price_block-img pt-3">
            <div class="single_body__price_block mx-auto">
                <div class="single_body__price_block-price">
                    <div class="d-inline-block single_body__price_block-price-num align-middle">35 990 руб.</div>
                    <div class="d-inline-block single_body__price_block-price-call align-middle">
                        <a class="btn single_body__price_block-price__button-call" href="#" role="button">
                            <span class="single_body__price_block-price__button-call-icon"></span>
                            заказать
                        </a>
                    </div>
                </div>
            </div>

            <div class="multiple-items mb-5">
                <div class="ml-3 mt-3">
                    <a href="#">
                        <img src="https://placeimg.com/200/200/people" class="single_body__price_block-img img-thumbnail">
                    </a>
                </div>
                <div class="ml-3 mt-3">
                    <a href="#">
                        <img src="https://placeimg.com/200/200/people" class="single_body__price_block-img img-thumbnail">
                    </a>
                </div>
            </div>

            <div class="single_body__content row">
                <ul class="nav nav-tabs col-xl-12" id="single_tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Описание</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Характеристики</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Отзывы</a>
                    </li>
                </ul>
                <div class="tab-content single_body__content-descript p-3 col-xl-12" id="single_tabsContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Electrolux вводит в ассортимент новую модель кондиционера на базе DC-инверторной технологии – Monaco Super DC-Inverter, воплотившую в себе лучшие технологические достижения бренда.

                            Ключевое преимущество модели – высокий уровень сезонной энергоэффективности (SEER=5,6; класс «А+»). Это означает, что прибор производит в 5,6 раз больше холода, чем потребляет электроэнергии. Сплит-система соответствует самым строгим стандартам энергоэффективности, принятым в Европе в 2013 г. По сравнению с традиционными инверторными сплит-системами, кондиционер потребляет на 30% меньше электроэнергии, отличаясь более стабильной работой. В режиме ожидания потребление энергии составляет всего 0,5 Вт.
                            
                            Прибор создает комфортные условия в помещении в рекордно быстрые сроки, охлаждая воздух на 40% быстрее, чем стандартные кондиционеры. 
                            Кроме того, Monaco Super DC-Inverter может функционировать в режиме обогрева при низких температурах наружного воздуха (до -15°С). Это позволяет прибору обогревать помещение в период межсезонья. Работая по принципу теплового насоса, Monaco Super DC-Inverter на каждый киловатт тепла потребляет менее 270 Вт электроэнергии (SCOP=3,8), что в 4 раза эффективнее бытовых электрообогревателей.</div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Характеристики</div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Отзывы</div>
                </div>
            </div>
    </div>
</div>
<div class="col-xl-3">
    <div class="card border-0 mt-3 phone">
        <div class="card-body p-2">
            <p class="phone__number">
                <span>+7 (473) 2-600-600</span>
                <span>+7 (473) 2-600-600</span>
            </p>
            <button class="btn btn-primary float-right" type="submit">Заказать звонок</button>
        </div>
    </div>

    <div class="card border-0 mt-3 address">
        <img class="card-img-top" src="images/staticmap.png" alt="">
        <div class="card-body mt-3 p-2 address__text">
            <b>Адрес: </b>
            <p>Россия, Воронежская область, Воронеж, ул. Острогожская, 73А</p>
            <button class="btn btn-primary float-right" type="submit">Смотреть на карте</button>
        </div>
    </div>
</div>
</div>