<div class="row">
    <div class="col-xl-12">
        <h3>Сортировка товара</h3>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-9">
                        <div> <span>Мощность </span> от 2.3 кВт до 5.3 кВт </div>
                        <div> <span>Стоимость </span> от 8 300 до 10 300 руб. </div>
                    </div>
                    <div class="col-xl-3">
                        <button type="button" class="btn btn-primary btn-lg">Поиск</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>