//fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');

@import "blocks/colors"; //vars all colors
@import "blocks/header";
@import "blocks/offer_section";
@import "blocks/sort_section";
@import "blocks/catalog_section";
@import "blocks/others_section";
@import "blocks/footer";

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1.1;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
  }

// footer {
//     flex: 0 0 auto;
//     height: 80px;
// }

body {
    font-family: 'Roboto';
    background: #E2F6FF;
}